PORT=5000
MONGODB_URI=mongodb+srv://nencysmakwana_db_user:nsm@cluster0.0bzmhdk.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_in_production
FRONTEND_URL=http://localhost:3000
